*,
*::after,
*::before {
  box-sizing: border-box;
  transition: background-color 0.1s linear, color 0.1s linear;
}

td {
  padding: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

p {
  text-align: center;
}

html {
  background: #fff;
}

html:has(body.dark) {
  background: rgb(91, 23, 91);
}

body {
  font-family: Arial, sans-serif;
  font-size: 32px;
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  color: #333;
  background: #eee;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.dark {
  color: #eee;
  background: rgb(33, 7, 33);
}

.dark button {
  color: #eee;
  background: rgb(91, 23, 91);
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
}

.btn-wrapper {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

button {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #edf1f4;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

@media (hover: hover) {
  button:hover {
    background-color: #c1d9ee;
  }
  
  .dark button:hover {
    background: rgb(129, 21, 129);
  }
}

#win-screen,
#menu-screen,
#game-screen {
  flex-direction: column;
}

#timer {
  font-size: 30px;
  letter-spacing: 3px;
}

.game {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

#field {
  display: grid;
  border-collapse: collapse;
}

#win-screen #field {
  border: none;
}

#field td {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
}

.dark #field td {
  border: 1px solid rgb(91, 23, 91);
}

#field td:nth-child(5n) {
  border-right: 2px solid #000;
}

.dark #field td:nth-child(5n) {
  border-right: 1px solid rgb(91, 23, 91);
}

#win-screen td {
  border: none !important;
}

#field td.active {
  background: #000;
}

.dark #field td.active {
  background: #eee;
}

#row-nums {
  display: grid;
  border-collapse: collapse;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
}

.dark #row-nums {
  border: 1px solid rgb(91, 23, 91);
}

#column-nums {
  display: grid;
  border: 1px solid #000;
  border-right: none;
  border-left: none;
  grid-auto-flow: column;
  grid-column: 2 / -1;
}

.dark #column-nums {
  border: 1px solid rgb(91, 23, 91);
}

#row-nums td,
#column-nums td {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

#row-nums td:nth-child(5n) {
  border-bottom: 2px solid #000;
}

.dark #row-nums td:nth-child(5n) {
  border-bottom: 1px solid rgb(91, 23, 91);
}

#column-nums td:nth-child(5n) {
  border-right: 2px solid #000;
}

.dark #column-nums td:nth-child(5n) {
  border-right: 2px solid rgb(91, 23, 91);
}

#row-nums td:first-child {
  border-top: 2px solid #000;
}

.dark #row-nums td:first-child {
  border-top: 1px solid rgb(91, 23, 91);
}

#column-nums td:first-child {
  border-left: 2px solid #000;
}

.dark #column-nums td:first-child {
  border-left: 1px solid rgb(91, 23, 91);
}

#row-nums td {
  justify-content: right;
  width: auto;
  padding: 0 5px;
  border: 1px solid #000;
  border-right: none;
}

.dark #row-nums td {
  border: 1px solid rgb(91, 23, 91);
}

#column-nums td {
  height: auto;
  padding: 5px 0;
  border: 1px solid #000;
  border-bottom: none;
}

.dark #column-nums td {
  border: 1px solid rgb(91, 23, 91);
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.cross::before,
.cross::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #000;
}

.dark .cross::before,
.dark .cross::after {
  background: #eee;
}

.cross::before {
  rotate: 45deg;
}

.cross::after {
  rotate: -45deg;
}

.records {
  margin: 30px 0 0;
  padding: 0;
  text-align: center;
  border: 5px solid #000;
  border-radius: 10px;
  list-style: none;
  width: 100%;
}

.records li {
  padding: 10px;
  border-bottom: 5px solid #000;
}

.records li:last-of-type {
  border: none;
}

.records::before {
  font-weight: 700;
  display: block;
  padding: 10px;
  content: 'Records';
  border-bottom: 5px solid #000;
}

.dark .records {
  border: 5px solid rgb(91, 23, 91);
}

.dark .records li,
.dark .records::before {
  border-bottom: 5px solid rgb(91, 23, 91);
}

.dark .records li:last-of-type {
  border: none;
}

.theme-button {
  position: absolute;
  top: 15px;
  left: 15px;
  margin-bottom: auto;
}

.theme-button img {
  display: block;
}
